:root {
  --subpage-max-width: 1096px;
  --subpage-content-x-padding: 2rem;
}

@media (max-width: 600px) {
  :root {
    --subpage-content-x-padding: 1.33rem;
    --subpage-content-x-padding: 1.33rem;
  }
}

@layer common {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  main {
    max-width: var(--subpage-max-width);
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: var(--subpage-content-x-padding, 2rem);
    padding-right: var(--subpage-content-x-padding, 2rem);
    display: grid;
    gap: 4rem;
  }
}
